.wrapper {
    padding: 2em;
    box-shadow: 0 0 10px rgb(217, 217, 217);
    border-radius: var(--card-border-radius);

    width: min(90%, 600px);
}

.action_buttons {
    display: flex;
    gap: .5em;
}

.action_buttons a, button {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.card_list_wrapper {
    /* border: 1px solid; */
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card_list_item {
    /* box-shadow: 0 0 10px rgb(217, 217, 217); */
    border: 1px solid #ccc;
    border-radius: var(--card-border-radius);
    padding: 1em;
}

